body {
  background-color: rgb(153, 172, 191);
}

.logout {
  text-align: right;
  margin-right: 10%;
}

#chat-app {
  margin: 0 5% 0 20%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  min-width: 3000px;
  height: 580px;
}

.display-panel {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.login-name {
  background-color: rgb(48, 60, 72);
  height: 2px;
}

.users {
  background-color: rgb(48, 60, 72);
  list-style: none;
  color: aliceblue;
  width: 5%;
  margin: 0;
}
.user {
  margin: 10% 0;
}

.messages {
  list-style: none;
  padding: 0;
  max-height: 100%;
  overflow: auto;
  min-width: 600px;
  height: 80%;
}

.message {
  display: flex;
  flex-direction: column;
}

.sender-info {
  min-width: 150px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.message-text {
  display: inline-block;
  text-align: left;
  border-radius: 8px;
  padding: 0.3em;
  margin-left: 10%;
  margin-right: 10%;
  width: fit-content;
  background-color: rgb(171, 206, 119);
}

.message-info {
  text-align: center;
}

.outgoing {
  text-align: right;
  width: auto;
  margin-bottom: 3%;
  margin-right: 3%;
}

.to-send {
  width: 85%;
  height: 40px;
  margin-right: 15px;
  border-style: ridge;
  border-radius: 8px;
}

.avatar {
  width: 40px;
}
